:local(.header) {
  grid-area: header;
  border: 1px solid red;
  nav {
    display: flex;
    justify-content: space-around;
  }
  h1 {
    margin: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}