:local(.header) {
    grid-area: header;
    font-family: 'Open Sans', sans-serif;
    
    nav {
        display: flex;
        justify-content: space-around;
        a { 
            background: #333333;
            width: 100%;
            color: #fff;
            padding: 5px;
            text-align: center;
            text-decoration: none;
        }
        a:hover {
            color: yellow;
        }
        ul {
            -webkit-padding-start: 0;
        }
        li {
            list-style: none;
            align-items: flex-end;
            display: inline-flex;
            min-width: 100px;
        }
        
    }
            img {
                width: 100px;
                float: left;
            }
            
            h1 {
                padding-top: 30px;
            }
}