@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css);

* {
  background-color: #fffcef;
  color: #393939;
  font-family: 'Libre Baskerville', serif;
  }

.page-container {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: " header header header"
                       " content content content "
                       " content content content "
                       " footer footer footer "
}

header {
  grid-area: header;
}

main {
  grid-area: content
}