@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css);

* {
  background-color: #fffcef;
  color: #393939;
  font-family: 'Libre Baskerville', serif;
  }

.page-container {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: " header header header"
                       " content content content "
                       " content content content "
                       " footer footer footer "
}

.animated-page-wrapper {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  grid-area: header;
}

main {
  grid-area: content
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}